html, body{
  height: 100%;
}

body { 
	background-image:     
   url(https://static.pexels.com/photos/36090/pexels-photo-large.jpg) ;
	background-position: center center;
	background-repeat:  no-repeat;
	background-attachment: fixed;
	background-size:  cover;
	background-color: #999;
}

.wrapper {
  height: 100%; 
  width: 100%; 
  margin: 0;
  padding: 0;
}